.login-support-container{
    display: flex;
    justify-content: right;
}
.login-page-support-container{
    display: flex;
    background: #000000;
    width: 54px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: white;
    padding: 2px;
}
.login-page-support-container p{
    margin: 0;
}
.login-page-support-container .label{
    font-size: 13px;
    font-weight: 500;
    padding-right: 3px;
}
.login-page-support-container .icon {
    font-size: 15px;
}
.login-body-content{
    margin-top: 42px;
}
.login-page-header {
    width: 120px;
    display: flex;
    align-items: center;
}
.login-page-header img{
    width: 100%;
    height: 26px;
}
.login-page-header .login-logo{
    margin: 0;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
}
.login-page-input-container{
    margin-top: 30px;
}
.login-page-input-container .main-text{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.login-page-input-container .main-label{
    margin: 4px 0 0;
    font-size: 15px;
    color: #b0b0b0;
}
.form-split-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.form-split-container .countryCode{
    width: 10%!important;
    margin-right: 10px!important;
}
.form-split-container input{
    width: 78%;
    font-size: 14px;
    font-family: "Afacad Flux", sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
}
.login-page-input-container button {
    width: 100%;
    padding: 10px;
    background: #333;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-family: "Afacad Flux", sans-serif;
    margin-top: 12px;
}
.login-page-footer{
    position: absolute;
    bottom: 6px;
    font-size: 13px;
    display: flex;
    width: 90%;
    justify-content: center;
}
.login-page-footer span{
    color: blue;
}
.icon-container {
    padding: 11px 12px;
    background: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 34px;
    box-shadow: rgb(8 8 8 / 3%) 0px 0px 12px 0px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.icon-container i{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: black;
}
.number{
    color: black;
    font-weight: 500;
}
.number-edit{
    color: #4895ef;
    font-weight: 500;
    cursor: pointer;
}
.number-edit i{
    font-size: 9px;
}
.verify-otp .main-label {
    line-height: 1.5;
}
.otp-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.otp-input-container .input {
    width: 30px;
    border-radius: 10px;
    border: 2px solid #f6f6f6;
    margin: 24px 5px 4px;
    text-align: center;
    font-size: 14px;
    padding: 10px 2px;
}
.otp-input-container .input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}

.resend-container {
    margin-top: 15px;
    text-align: center;
  }

  #resend-btn {
    color: gray;
    cursor: not-allowed;
    font-weight: 600;
    margin-left: 8px;
    transition: 0.3s;
  }

  #resend-btn.enabled {
    color: #007bff;
    cursor: pointer;
  }